Do the upcoming changes to DNS affect algo users?

Taken from [dnsflagday.net](https://dnsflagday.net/):

# DNS Resolver Operators #

On or around Feb 1st, 2019, major open source resolver vendors will release updates that will stop accommodating non-standard responses. This change will affect authoritative servers which do not comply either with the original DNS standard from 1987 (RFC1035) or the newer EDNS standards from 1999 (RFC2671 and RFC6891). Major public DNS resolver operators listed below are also removing accommodations so this change will also impact Internet users and providers who use these public DNS services.

Sites hosted on incompatible authoritative servers may become unreachable through updated resolvers. The web form above diagnostic tool may be helpful while investigating problems with a particular domain. Domains which repeatedly fail the test above have problems with either their DNS software or their firewall configuration and cannot be fixed by DNS resolver operators.

The following versions of DNS resolvers will not accommodate EDNS non-compliant responses:

    BIND 9.13.3 (development) and 9.14.0 (production)
    Knot Resolver has already implemented stricter EDNS handling in all current versions
    PowerDNS Recursor 4.2.0
    Unbound 1.9.0

# DNS Server Operators #

The main change is that DNS software from vendors named above will interpret timeouts as sign of a network or server problem. Starting February 1st, 2019 there will be no attempt to disable EDNS in reaction to a DNS query timeout.

This effectively means that all DNS servers which do not respond at all to EDNS queries are going to be treated as dead.

Please test your implementations using the [ednscomp](https://ednscomp.isc.org/ednscomp) tool to make sure that you handle EDNS properly. Source code for the tool [is available](https://gitlab.isc.org/isc-projects/DNS-Compliance-Testing) as well.

It is important to note that EDNS is still not mandatory. If you decide not to support EDNS it is okay as long as your software replies according to [EDNS standard section 7](https://tools.ietf.org/html/rfc6891#section-7).

In other words, software which correctly implements the original DNS standard [RFC1035](https://tools.ietf.org/html/rfc1035) from 1987 does not require any changes. Only non-compliant software has to be fixed.

By default an Algo server uses Cloudflare for DNS, and Cloudflare is a participant in DNS flag day. Therefore it's possible that client devices connected to an Algo server might not be able to resolve certain domain names once Cloudflare starts enforcing the flag day changes.

> By default an Algo server uses Cloudflare for DNS, and Cloudflare is a participant in DNS flag day. Therefore it's possible that client devices connected to an Algo server might not be able to resolve certain domain names once Cloudflare starts enforcing the flag day changes.

What if people enable adblocking which uses a local DNS resolver?

There's no difference. Even with the local ad blocker enabled the default is to forward DNS requests to Cloudflare.

Interesting, I didn't know that. Admittedly my expertise in this area is limited but when I saw news of these changes I figured I should make sure that algo users will remain protected. :)